<footer id="footer">
    <div class="inner">
        <section>
            <h5>Localize-nos</h5>
            Av. 25 de Junho, nº 653 <br>
            Tete, Moçambique <br>
            +258 84/87 879 0215 <br>
            +258 82/86 985 1174
        </section>
            
        <section>
            <h5>Siga-nos</h5>
            <ul class="icons">
                {% for item in site.data.social %}
                    <li>
                        <a href="{{ item.link }}" title="{{ item.title }}"><i class="fa fa-{{ item.icon }}"></i></a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <ul class="copyright">
            <li>&copy; {{ site.title }} - {{ site.description }} | Todos Direitos Reservados</li><li>Powered by: <a href="http://izitag.github.io">IZItag</a></li>
        </ul>
    </div>
</footer>