<article class="style{{ forloop.index }}">
    <span class="image">
        <img src="{{ item.image }}" alt="{{ item.title }}" />
    </span>
    <a href="#"
        class="snipcart-add-item" 
        data-item-name="{{ item.title }}" 
        data-item-price="{{ item.price }}" 
        data-item-id="{{ item.collection }}{{ forloop.index }}" 
        data-item-url="/" 
        data-item-image="{{ item.image }}" 
        data-item-min-quantity="{{ item.quant_min }}" 
        data-item-quantity="{{ item.quantity }}">
        <h2>{{ item.title }}</h2>
        <div class="content">
            <p>{{ item.price }} MZN</p>
        </div>
    </a>
</article>